.top-panel {
  background-color: #adaca3;
  color: $color-white;
  .row {
    height: 70px;
  }
}

.logo img {
  height: 65px;
  margin-top: 2px;
}

.header-phone {
  height: 100%;
  font-size: 20px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  a {
    color: $color-white;
  }
  .phone-call {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #ffffff;
  }
}

.header-search {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  input {
    width: 0;
    height: 32px;
    position: absolute;
    right: 48px;
    z-index: 5;
    border: 0;
    padding: 0 10px;
    opacity: 0;
    display: block;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    @include transition(all, ease);
  }
  &:hover {
    input {
      width: 275px;
      opacity: 1;
    }
    .btn-orange {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      box-shadow: 0 2px 1px $color-shadow-orange;
    }
  }
  .btn-orange {
    padding-top: 5px;
    padding-bottom: 3px;
    position: relative;
    z-index: 8;
  }
  .search {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}

.nav-panel {
  height: 100%;
}

.menu {
  font-size: 18px;
  line-height: 1;
}

.menu-current-text {
  color: #d5d6d0;
}

.navbar-toggle {
  height: 100%;
  padding: 15px;
  background-color: #98958e;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  &::before {
    width: 20px;
    height: 1px;
    margin-right: 20px;
    content: '';
    background-color: #ffffff;
    box-shadow: 0 5px 0 0 #ffffff, 0 -5px 0 0 #ffffff;
  }
}

.navbar-toggle-text {
  line-height: 1;
}
