<header>
    <div class="container">
        <div class="top-panel">
            <div class="row">
                <div class="logo-block">
                    <span class="logo">
                        <img src="img/hram-logo.svg"
                             alt="Храм Архангела Михаила и всех Небесных Сил Бесплотных в городе Краснознаменск"
                             title="Храм Архангела Михаила и всех Небесных Сил Бесплотных в городе Краснознаменск"></span>
                </div>

                <div class="top-panel__left">
                    <nav class="nav-panel">
                        <div class="navbar-toggle"><span class="navbar-toggle-text">Меню сайта</span></div>

                        <ul class="menu list-unstyled">
                            <li class="menu-current"><span class="menu-current-text">Главная</span></li>
                            <li><a href="#" class="menu-link">О храме</a></li>
                            <li><a href="#" class="menu-link">Прихожанам</a></li>
                            <li><a href="#" class="menu-link">Духовенство</a></li>
                            <li><a href="#" class="menu-link">Фотогалерея</a></li>
                            <li><a href="#" class="menu-link">Контакты</a></li>
                        </ul>
                    </nav>






                    <form action="#" class="search-top">
                        <div class="search-top-icon">
                            <svg class="search">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#search"></use>
                            </svg>
                        </div>

                        <div class="search-top-input">
                            <input type="search" class="search-top-field hide-placeholder" placeholder="введите слова для поиска">

                            <button type="submit" class="search-top-btn">
                                <svg class="search">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#search"></use>
                                </svg>
                            </button>

                            <div class="search-top-close">
                                <svg class="cross">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#cross"></use>
                                </svg>
                            </div>
                        </div>
                    </form>





<!--                    <form action="#" class="header-search">
                        <button class="btn btn-orange">
                            <svg class="search">
                                <use xlink:href="img/sprite.svg#search"></use>
                            </svg>
                        </button>
                        <input type="search" placeholder="введите слова для поиска">
                    </form>-->





                </div>
            </div>
        </div>

        <div class="header-content">
            <h1 class="header-title">Храм Архангела Михаила и всех Небесных Сил Бесплотных <br> в городе Краснознаменск
            </h1>

            <div class="header-button">
                <button class="btn btn-orange">
                    <svg class="papyrus">
                        <use xlink:href="img/sprite.svg#papyrus"></use>
                    </svg>
                    Расписание
                </button>
            </div>
        </div>
    </div>
</header>
