<div class="information">
    <div class="information-block information-top" style="background: url(../img/img.jpg) no-repeat center;">
        ﻿<h2 class="information-title">История нашего храма</h2>

        <a href="#" class="btn btn-orange">Подробности</a>

    </div>

    <div class="information-block information-top" style="background: url(../img/img-2.jpg) no-repeat center;">
        ﻿<h2 class="information-title">﻿Праздник Пасхи</h2>
    </div>

    <div class="information-block information-bottom" style="background: url(../img/img-3.jpg) no-repeat center;">
        ﻿<h2 class="information-title">﻿Храм выполнен в <br> Византийском стиле</h2>
    </div>

    <div class="information-block stand">
        <div class="stand-candle">
            <svg class="candle">
                <use xlink:href="img/sprite.svg#candle"></use>
            </svg>
            <span class="candle-text">253</span>
        </div>

        <div class="info-stand">
            <ul class="info-stand-sections list-unstyled">
                <li style="background: url(../img/img-4.jpg) no-repeat center;">
                    <a href="#" class="information-title">﻿Задать вопрос священику</a>
                </li>
                <li style="background: url(../img/img-5.jpg) no-repeat center;">
                    <a href="#" class="information-title">﻿Подать записку</a>
                </li>
            </ul>
        </div>
    </div>
</div>
