<div class="top-panel container">
    <div class="row">
        <div class="logo-block col-md-1 col-sm-1 col-xs-2">
            <span class="logo"><img src="img/hram-logo.svg" alt="Храм Архангела Михаила и всех Небесных Сил Бесплотных в городе Краснознаменск" title="Храм Архангела Михаила и всех Небесных Сил Бесплотных в городе Краснознаменск"></span>
        </div>

        <nav class="nav-panel col-md-offset-3 col-md-7 col-sm-5 col-xs-6">
            <div class="navbar-toggle"><span class="navbar-toggle-text">Меню сайта</span></div>

            <ul class="menu list-unstyled">
                <li class="menu-current"><span class="menu-current-text">Главная</span></li>
                <li><a href="#" class="menu-link">О храме</a></li>
                <li><a href="#" class="menu-link">Прихожанам</a></li>
                <li><a href="#" class="menu-link">Духовенство</a></li>
                <li><a href="#" class="menu-link">Фотогалерея</a></li>
                <li><a href="#" class="menu-link">Контакты</a></li>
            </ul>
        </nav>

        <form action="#" class="header-search col-md-1 col-sm-1 col-xs-4">
            <button class="btn btn-orange">
                <svg class="search">
                    <use xlink:href="img/sprite.svg#search"></use>
                </svg>
            </button>
            <input type="search" placeholder="введите слова для поиска">
        </form>
    </div>
</div>
