@font-face {
  font-family: 'Triodion-Ucs';
  src: url('../fonts/Triodion-Ucs.eot?#iefix') format('embedded-opentype'),  url('../fonts/Triodion-Ucs.woff') format('woff'), url('../fonts/Triodion-Ucs.ttf')  format('truetype'), url('../fonts/Triodion-Ucs.svg#Triodion-Ucs') format('svg');
  font-weight: normal;
  font-style: normal;
}
